<div id="con_amigos" *ngIf="con_amigos; else elseBlock">
<mat-card-title>AMIGOS EN COMÚN</mat-card-title>
    <div id="nombres_amigos">
        <h2>{{profile_origen.name}}</h2>
        <mat-icon>arrow_right_alt</mat-icon>
        <h2>{{profile_destino.name}}</h2>
    </div>
        <div id="img_comun">
            <img src="https://www.habbo.es/habbo-imaging/avatarimage?direction=4&head_direction=3&action=wav&gesture=sml&size=m&user={{profile_origen.name}}">
        
            <img src="https://www.habbo.es/habbo-imaging/avatarimage?direction=4&head_direction=3&action=wav&gesture=sml&size=m&user={{profile_destino.name}}">
        </div>
        <mat-dialog-content>                        
                <div class="content-amigos">
                    <div class="lista_amigos" *ngFor="let amigos of friend_comun">
                        <img src="https://www.habbo.es/habbo-imaging/avatarimage?hb=img&user={{amigos.name}}&size=b&headonly=1" width="50" height="50"> 
                        <div class="datos-amigos"><h4>{{amigos.name}}</h4></div> 
                    </div>
                </div>
        </mat-dialog-content>
</div>
<ng-template #elseBlock>
    <div *ngIf="amigo_baneado" id="sin_amigos">
        <h2>:O EL AMIGO {{name_baneado}} ESTA BANEADO :(</h2>
        <img src="https://www.habbo.es/habbo-imaging/avatarimage?direction=4&head_direction=3&action=wav&gesture=sml&size=m&user={{name_baneado}}">
    </div>
    <div *ngIf="perfil_cerrado">
        <h2>EL PERFIL {{profile_destino.name}} ESTA CERRADO</h2>
    </div>
    <div *ngIf="sin_amigos">
        <h1>NO TIENE AMIGOS EN COMUN</h1>
    </div>
</ng-template>

